# Data creation
DATABASE_UK=
DATABASE_EU=
WRITE_MEASURES=0

# AWS bucket environment variables
AWS_ACCESS_KEY_ID=""
AWS_REGION=""
AWS_SECRET_ACCESS_KEY=""
BUCKET_NAME=""
BUCKET_ALIAS=""
WRITE_TO_AWS=0


# Send grid mail API
SEND_MAIL=0
SENDGRID_API_KEY_HMRC=
SENDGRID_API_KEY=
FROM_EMAIL=
TO_EMAILS=

# ZIP options
CREATE_7Z=0
CREATE_ZIP=1
PASSWORD=
USE_PASSWORD=0

# Local debug mode
DEBUG_OVERRIDE=0

# Empty descriptions
PLACEHOLDER_FOR_EMPTY_DESCRIPTIONS=Description tbc
MEASURES_FILENAME=tariff_data
USE_HIERARCHICAL_DESCRIPTION=0
